.error {
    color: red;
    display: inline;
    text-align: center;
    font-weight: bold;
    font-size: 0.75rem;
}

.error-container {
    text-align: center;
}

.success {
    color: green;
    opacity: 0;
    display: inline;
    text-align: center;
    font-weight: bold;
    font-size: 0.75rem;
}
